<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--Axios AJAX-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Vue3 CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <style>
      body{
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
      }

      .input{
        display:inline-flex;
        align-items: center; 
        justify-content: center;
        height: 150px;
        margin: 20px;
        background-color: beige;
        border: none;
        color:black;
      }

      #title{
        background-image: url("image/pizza_title.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      /*Citing https://www.w3schools.com/HOWTO/howto_js_scroll_to_top.asp*/
      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: grey;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }

      #myBtn:hover {
        background-color: darkgrey;
      }
      /*End of citation*/
      
      .result{
        background-color: beige;
        font-size: 20px;
        border-radius: 5px;
        height: 300px;
      }
    </style>

  </head>
  <body>
    <div style="height: 100px;background-color:grey;">
      <a style="text-decoration: none;position: absolute;left: 50%;transform: translateX(-50%);" href="main_page.html">
      <img src="image/logo.png" width="200px" height="200px">
      </a>
    </div>
    <div style="height: 100px;"></div>

    <div class="container py-5 my-5" id="title">
      <h1 class="display-3">What kind of pizza do you like?</h1>
    </div>

    <form class="container" id="quiz">
      <div class="m-3" id="question1">
        <h2 class="my-5">Pick your favourite meat!</h2>
        <input type="radio" class="btn-check" v-model="Piz_Meat" id="meat1" value="Pepperoni" @click="to_question2">
        <label class="btn btn-secondary input col-4" for="meat1"><h3>Pepperoni</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Meat" id="meat2" value="Beef" @click="to_question2">
        <label class="btn btn-secondary input col-4" for="meat2"><h3>Beef</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Meat" id="meat3" value="Ham" @click="to_question2">
        <label class="btn btn-secondary input col-4" for="meat3"><h3>Ham</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Meat" id="meat4" value="None" @click="to_question2">
        <label class="btn btn-secondary input col-4" for="meat4"><h3>I don't want any</h3></label>
      </div>
      <div class="m-3" ref="question2">
        <h2 class="my-5">A topping you hate. Something you wouldn't even give to your worst enemy</h2>
        <input type="radio" class="btn-check" v-model="Piz_Hated" id="htopping1" value="Pineapple" @click="to_question3">
        <label class="btn btn-secondary input col-4" for="htopping1"><h3>Pineapple</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Hated" id="htopping2" value="Olive" @click="to_question3">
        <label class="btn btn-secondary input col-4" for="htopping2"><h3>Olive</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Hated" id="htopping3" value="Bellpepper" @click="to_question3">
        <label class="btn btn-secondary input col-4" for="htopping3"><h3>Bellpepper</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Hated" id="htopping4" value="Chilli" @click="to_question3">
        <label class="btn btn-secondary input col-4" for="htopping4"><h3>Chilli</h3></label>
      </div>
      <div class="m-3" ref="question3">
        <h2 class="my-5">Pick a cheese!</h2>
        <input type="radio" class="btn-check" v-model="Piz_Cheese" id="cheese1" value="Mozzarella" @click="to_question4">
        <label class="btn btn-secondary input col-4" for="cheese1"><h3>Mozzarella</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Cheese" id="cheese2" value="Parmesan" @click="to_question4">
        <label class="btn btn-secondary input col-4" for="cheese2"><h3>Parmesan</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Cheese" id="cheese3" value="Cheddar" @click="to_question4">
        <label class="btn btn-secondary input col-4" for="cheese3"><h3>Cheddar</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Cheese" id="cheese4" value="Gouda" @click="to_question4">
        <label class="btn btn-secondary input col-4" for="cheese4"><h3>Gouda</h3></label>
      </div>
      <div class="m-3" ref="question4">
        <h2 class="my-5">Another favourite type of meat? There's never too much meat</h2>
        <input type="radio" class="btn-check" v-model="Piz_Second" id="second_meat1" value="Chicken" @click="result">
        <label class="btn btn-secondary input col-4" for="second_meat1"><h3>Chicken</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Second" id="second_meat2" value="Bacon" @click="result">
        <label class="btn btn-secondary input col-4" for="second_meat2"><h3>Bacon</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Second" id="second_meat3" value="Pork" @click="result">
        <label class="btn btn-secondary input col-4" for="second_meat3"><h3>Pork</h3></label>
        <input type="radio" class="btn-check" v-model="Piz_Second" id="second_meat4" value="None" @click="result">
        <label class="btn btn-secondary input col-4" for="second_meat4"><h3>Nah, thanks though</h3></label>
      </div>

      <div class="container m-3" ref="result">
        <div class="row g-3">
          <div class="col-lg-6">
            <div class="result">
              <button type="reset" class="btn btn-secondary btn-lg" onclick="topFunction()">Start a new quiz!</button>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="result">
              <p>Google Map API Result</p>
            </div>
          </div>
        </div>
      </div>
    </form>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top Page</button>

    <script>
      //Citing https://www.w3schools.com/HOWTO/howto_js_scroll_to_top.asp
        let mybutton = document.getElementById("myBtn");
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      //End of citation

        Vue.createApp({
            data() {
                return {
                  Piz_Meat:"",
                  Piz_Hated:"",
                  Piz_Cheese:"",
                  Piz_Second:"",
                  quiz_result:"",
                  quiz_desc:""
                }
            },methods:{
              to_question2(){
                this.$refs["question2"].scrollIntoView({ behavior: "smooth" });
              },
              to_question3(){
                this.$refs["question3"].scrollIntoView({ behavior: "smooth" });
              },
              to_question4(){
                this.$refs["question4"].scrollIntoView({ behavior: "smooth" });
              },
              result(){
                this.$refs["result"].scrollIntoView({ behavior: "smooth" });

                const url = 'proj.php';
                axios.get(url, {
                  params: {
                      foodType : 'pizza',
                      pizMeat : this.Piz_Meat,
                      pizHated: this.Piz_Hated,
                      pizCheese: this.Piz_Cheese,
                      piz2meat: this.Piz_Second
                  }
                })
                .then(response =>  {
                  this.result = response.data;
                  console.log(response.data);
                })
                .catch(error => {
                  console.log(error.message);
                });
              }

            }
        }).mount('#quiz');

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>